@tailwind base;
@tailwind components;
@tailwind utilities;

/* class define for the usage of DottedBackground Component */
.dotted-background {
  background-image: radial-gradient(
    circle,
    var(--tw-gradient-stops) var(--dots-size),
    var(--tw-gradient-stops) var(--dots-size),
    transparent var(--dots-size),
    transparent 100%
  );

  background-size: var(--dots-separation);
  mask-image: radial-gradient(rgb(0, 0, 0), transparent var(--radial-transparency));
}
